source https://nuget.org/api/v2
storage: none
clitool dotnet-fable
nuget FSharp.Core
nuget FSharp.NET.Sdk
nuget Fable.Core
nuget Fable.Import.Browser
nuget Fable.Import.Node 
nuget Fable.Import.VSCode
nuget Paket
nuget Paket.Core 

group Local
    storage: packages
    git https://github.com/dungpa/fantomas.git master build: "build.cmd", OS: windows
    git https://github.com/dungpa/fantomas.git master build: "build.sh", OS: mono


group Build
    framework: net46
    storage: none
    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx
